git+https://github.com/Joelkb/cinemagoer
pyrogram
imdbpy
tgcrypto
pymongo[srv]
motor
marshmallow
cinemagoer
umongo
requests
bs4
heroku3
pynewtonmath
pytz
aiohttp
datetime
pyrofork 
python-dotenv
psutil
